<h3 class="title mt-5 text-center">Updating Contact ID : {{userID}}</h3>
<div class="update text-center">
  <div class="row">
    <div class="col">
      <div class="h-100 py-5 px-5">
        <form [formGroup]="updateContact" (ngSubmit)="getUserFormData()">
            <label for="cname">Type &nbsp;&nbsp;</label>
            <input class="ip"
                type="text"
                formControlName="citype"
                placeholder="contact name.."
                name="cname"
            /><br /><br />
            <label for="cname">Value &nbsp;&nbsp;</label>
            <input class="ip"
                type="text"
                formControlName="civalue"
                placeholder="contact name.."
                name="cname"
            /><br /><br />

          <button class="btn btn-success btn-sm" (click)="onSubmit()">Update</button>&nbsp;
          <a class="btn btn-success btn-sm" routerLink="/user/{{userID}}/contact/{{contactID}}/contactinfo/viewAll">
            <i class="fa fa-angle-double-left">&nbsp;</i>
            Back
          </a>
        </form>
      </div>
    </div>
  </div>
</div>


