.ip{
    transition: width 0.4s ease-in-out;
}
  
.ip:focus {
    /* width: 20%; */
    color: blue;
}

.container{
    background-color: blue;
    border-radius: 20px 80px;
    padding-bottom: 100px;
    padding-top: 50px;
}

.title {
    color: white;
    font-weight:bolder;
}
/* .title:hover{
    color: black;
} */

button:hover, .reset:hover{
    color: yellow;
}

a {
    text-decoration: none;
  }
.login-page {
width: 100%;
height: 100vh;
display: inline-block;
display: flex;
align-items: center;
}
.form-right i {
font-size: 100px;
}